# Your LaunchDarkly server-side SDK key
LAUNCHDARKLY_SDK_KEY=

# AWS credentials (or use the default AWS credential chain)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1

# Override to use a different AI Config key
LAUNCHDARKLY_COMPLETION_KEY=sample-completion
