on:
  workflow_dispatch:
    inputs:
      pkg_workspace:
        description: 'The package to publish'
        required: true
        type: choice
        options:
          - pkgs/sdk/client
          - pkgs/sdk/server
          - pkgs/telemetry

name: Publish Docs
jobs:
  build-publish:
    runs-on: macos-latest
    permissions:
      contents: write # Needed in this case to write github pages.
    steps:
      - uses: actions/checkout@v4

      - name: Setup Env from project's Env file
        shell: bash
        run: echo "$(cat ${{ inputs.pkg_workspace }}/github_actions.env)" >> $GITHUB_ENV

      - id: build
        name: Build and Test SDK
        uses: ./.github/actions/ci
        with:
          project_file: ${{ env.PROJECT_FILE }}
          test_project_file: ${{ env.TEST_PROJECT_FILE }}

      - id: build-docs
        name: Build Documentation
        uses: ./.github/actions/build-docs
        with:
          workspace_path: ${{ env.WORKSPACE_PATH }}

      - id: publish-docs
        name: Publish Documentation
        uses: ./.github/actions/publish-docs
        with:
          workspace_path: ${{ env.WORKSPACE_PATH }}
          token: ${{secrets.GITHUB_TOKEN}}
